<!DOCTYPE html>
<html lang="en">
<head>
    <% include include/head %>
</head>
<body>
  <div class="container">
      <header>
          <% include include/header %>
      </header>
    <h1>Advertisor Planner for <%= advertisor[0].name %></h1>
    <p>Text about Advertisors....</p>
    <% include include/alert %>
    <div class="row">
        <% if(advertisor[0].is_country_divided ==1){ %>  <!-- Advertiser divided by country -->
          <div class="col-md-3">
              <div class="country">
                  <!-- <label>Select Campaign</label> -->
                  <select name="country" id="adv_country" class="form-control">
                    <option value="">Select Country</option>
                    <% for(var i=0; i<country.length; i++) {%>
                      <option value="<%= country[i] %>"><%= country[i] %></option>
                    <% } %>
                  </select>
                </div>
          </div>
          <div class="col-md-3">
              <div class="advertisor" id="advertisor">
                  <select name="advertisor" id="advertisor_select_by_country" class="form-control">
                    <option value="">Select Advertisor</option>
                    <% for(var i=0; i<advertisor.length; i++) {%>
                     <option value="<%= advertisor[i].adv_id %>" <% if(advertisor[i].active == 0){ %> style="color:red" <% } %> rel="<%= advertisor[i].country %>" option-divisor="<%= advertisor[i].is_divisor_needed %>" option-type="<%= advertisor[i].type %>"><%= advertisor[i].adv_name %> - <%= advertisor[i].country %></option>
                     <% } %>
                  </select>
                </div>
          </div>
        <% }else{ %>  <!-- Advertiser in single country -->
          <div class="col-md-6">
              <div class="advertisor">
                  <select name="advertisor" id="advertisor" class="form-control">
                    <option value="">Select Advertisor</option>
                    <% for(var i=0; i<advertisor.length; i++) {%>
                      <option value="<%= advertisor[i].adv_id %>" option-divisor="<%= advertisor[i].is_divisor_needed %>" option-type="<%= advertisor[i].type %>"><%= advertisor[i].adv_name %></option>
                    <% } %>
                  </select>
                </div>
          </div>
        <% } %>
    </div> 
    <div class="row">
        <div class="col-md-12 adv_column" style="display:none">
          <!-- <h2>Advertisor Details</h2> -->
          <a class="btn btn-primary" style="margin-top:20px;margin-bottom:20px;" data-toggle="collapse" href="#adv_collapse" role="button" aria-expanded="false" aria-controls="adv_collapse">
              Advertisor Details
            </a>
          <div class="collapse" id="adv_collapse">
            <div id="advertisor_details"></div>
          </div>
        </div>
    </div> 
    <div class="row">
      <div class="col-md-12" style="display:none">
        <button class="btn btn-danger" rel="<%= advertisor[0].adv_id %>" type="button" id="gen_new_links" name="gen_new_links">Generate New Links</button> 
        
        <i class="far fa-check-circle fa-2x links_generated hide" style="color:green;vertical-align:middle"></i> 
        <i class="far fa-times-circle fa-2x links_not_generated hide" style="color:Tomato;vertical-align:middle"></i>
        <i class="fas fa-flag-checkered fa-2x links_updated hide" style="color:green;vertical-align:middle"></i>

      </div>
    </div> 
    <div class="row">
        <div class="col-md-12" style="display:none">
          <h2>Affiliate Details</h2>
          <div id="affiliate"></div>
        </div>
    </div> 
   
  </div>

  <footer>
      <% include include/footer %>
  </footer>
</body>
</html>
