<!DOCTYPE html>
<html lang="en">
<head>
<% include include/head %>
<script src="/js/browser.js"></script>
</head>
<body>
  <div class="container">
      <header>
          <% include include/header %>
      </header>
    <h1>Campaigns</h1>
    <% include include/alert %>
    <div class="campaign" id="campaign">      
      <table class="table table-hover table-bordered">
        <tr><th>Campaign</th><th>Country division</th><th>Active</th><th>Operation</th></tr>
          <% for(var i=0; i<campaign.length; i++) {%>
            <tr>
                <td><%= campaign[i].name %></td>
                <td><% if(campaign[i].is_country_divided == 0){ %> No<% }else{ %>Yes <%} %></td>
                <td><% if(campaign[i].active == 0) { %> No<% }else{ %>Yes <%} %></td>
                <td>
                  <button id="<%= campaign[i].id %>" class="btn edit_campaign btn-danger">Edit</button>
                  <% if(campaign[i].active == 1) { %>
                    <a href="/advertisor/<%= campaign[i].id %>"><button class="btn btn-danger">View Advertisers</button></a>  
                    <button id="<%= campaign[i].id %>" class="btn add_advertisor btn-danger">Add Advertisers</button>  
                    <!-- <a href="/frontjs/<%= campaign[i].id %>"><button class="btn btn-danger">View Font JS</button></a>   -->
                    <a href="/generate-file/<%= campaign[i].id %>"><button class="btn btn-danger">Generate Backend JS File</button></a>
                    <% if(campaign[i].is_country_divided == 1){ %>
                      <button class="btn btn-danger" id="download_files">Download JS File</button>
                    <%} %>
                  <%} %>
                </td>
            </tr>
          <% } %>
      </table>

    </div>
    <button class="btn add_campaign btn-danger"><i class="fas fa-plus"></i> Add Campaign</button>  
    <div class="campaign_detail" id="campaign_detail">

    </div>
  </div>

  <footer>
      <% include include/footer %>
  </footer>
</body>
</html>